<div class="entry">
{{#if listProd}}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each listProd}}
                <tr>
                    <th scope="row">{{ this.id }}</th>
                    <td>{{ this.title }}</td>
                    <td>{{ this.price }}</td>
                    <td><img src="{{ this.thumbnail }}" alt="{{ this.title }}" width="25"></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <h1> No hay productos </h1>
{{/if}}
</div>